.counter-action-btn {
  align-items: center;
  display: flex;
  padding-right: 12px;
  button {
    margin: 0 6px 0 0;
    min-width: unset;
    padding: 0;
    &:hover {
      background-color: transparent;
      color: #1da1f2;;
    }
  }
}